@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap");
.header {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5rem;
}
.header .header-bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background-image: linear-gradient(#3a75b0, #fff);
  width: 100%;
  height: 5rem;
}
.header .main-row {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 5rem;
  width: 100%;
}
.header .main-row .brand-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px #aa2e00;
}
.header .main-row .brand-logo .fa-solid {
  font-size: clamp(1rem, 3vw + 3vh, 2rem);
}
.header .main-row .brand-logo h1 {
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
  font-style: italic;
}
.header .main-row .brand-logo h1 strong {
  color: #aa2e00;
  text-shadow: 1px 1px #131516;
}
.header .main-row .main-nav {
  display: none;
  position: absolute;
  height: 80vh;
  top: 10vh;
  left: 0;
  padding: 20px;
}
.header .main-row .main-nav .main-menu {
  list-style-type: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.header .main-row .main-nav .main-menu li {
  overflow: hidden;
  transition: text-decoration 300ms ease-in-out 0s;
  display: inline-block;
  position: relative;
}
.header .main-row .main-nav .main-menu li a {
  cursor: pointer;
  font-size: clamp(3rem, 5vw + 5vh, 4rem);
  color: #131516;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: all 0.5s ease;
}
.header .main-row .main-nav .main-menu li a:hover {
  color: #aa2e00;
}
.header .main-row .main-nav .main-menu li .active {
  color: #aa2e00;
}
.header .main-row .main-nav .main-menu li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #aa2e00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header .main-row .main-nav .main-menu li:hover::after, .header .main-row .main-nav .main-menu .active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header .main-row .menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
}
.header .main-row .menu-toggle .hamburger {
  height: 40px;
  width: 40px;
}
.header .main-row .menu-toggle .hamburger path {
  fill: none;
  stroke: #131516;
  stroke-linecap: round;
}

@media only screen and (min-width: 768px) {
  .header .main-row {
    display: flex;
    justify-content: space-between;
  }
  .header .main-row .main-nav {
    display: flex;
    position: static;
    height: 100%;
    padding: 0;
  }
  .header .main-row .main-nav .main-menu {
    padding: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .header .main-row .main-nav .main-menu li {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .header .main-row .main-nav .main-menu li a {
    font-size: clamp(1rem, 2vw + 2vh, 2rem);
  }
  .header .main-row .menu-toggle {
    display: none;
  }
}
#renderer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-container {
  padding-top: 5rem;
  height: 400%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.home-container .section {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home-container .section .content {
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4784313725);
  border-radius: 1rem;
  width: 90%;
}
.home-container .section .content h1 {
  font-size: clamp(3rem, 5vw + 5vh, 4rem);
}
.home-container .section .content p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  font-family: "Roboto Slab", serif;
}
.home-container .section .content a {
  background-color: rgba(58, 117, 176, 0.4784313725);
  border-radius: 1rem;
  padding: 1rem;
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
  text-decoration: none;
  color: #aa2e00;
  min-width: 50%;
  transition: all 0.5s ease;
}
.home-container .section .content a:hover {
  min-width: 100%;
  background-color: #fae500;
}

@media only screen and (min-width: 768px) {
  .circle-follow {
    position: fixed;
    border: 1px solid #fff;
    scale: 0;
    width: 30px;
    height: 30px;
    left: -21px;
    top: -21px;
    border-radius: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.slide-container {
  height: 100vh;
  width: 200vw;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  overflow-y: hidden;
}
.slide-container .slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide-container .slide video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  filter: blur(10px);
}
.slide-container .slide .content {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-width: 10%;
  align-items: center;
}
.slide-container .slide .content h1 {
  font-size: clamp(3rem, 5vw + 5vh, 4rem);
  text-align: center;
}
.slide-container .slide .content p {
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding-bottom: 1rem;
}
.slide-container .slide .content a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  height: 100%;
  text-align: center;
  width: 60%;
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  font-family: "Montserrat", sans-serif;
  background-color: #3a75b0;
  transition: width 0.5s, background-color 0.5s;
}
.slide-container .slide .content a:hover {
  width: 100%;
  background-color: #aa2e00;
}
.slide-container .exercise-0 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4784313725), rgba(58, 117, 176, 0.4823529412)), url(../Sources/Images/exerciseMain.jpg);
}
.slide-container .unit-1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4784313725), rgba(58, 117, 176, 0.4823529412)), url("../Sources/Images/unit1.jpg");
  z-index: 10;
}
.slide-container .exercise-1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4784313725), rgba(58, 117, 176, 0.4823529412)), url("../Sources/Images/exercise1.jpg");
  z-index: 10;
}

.exercise-container {
  padding-top: 5rem;
  padding-bottom: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exercise-container .text-container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.exercise-container .text-container .exercise-title {
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  text-align: center;
}
.exercise-container .text-container .prompt {
  padding-top: 1rem;
  font-size: clamp(1rem, 1vw + 1vh, 2rem);
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}
.exercise-container .editor-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.exercise-container .editor-container .editor {
  width: 100%;
  height: 60%;
  border-radius: 1rem;
}
.exercise-container .editor-container .output {
  width: 100%;
  height: 40%;
  font-family: "Source Code Pro", monospace;
  background-color: #fff;
  border-radius: 1rem;
  background-color: #131516;
  color: #fff;
}
.exercise-container .editor-container pre {
  overflow-x: auto;
}
.exercise-container .btn-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.exercise-container .btn-container .btn {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  height: 100%;
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  transition: background-color 0.5s, width 0.5s;
}
.exercise-container .btn-container .submit {
  background-color: #3a75b0;
}
.exercise-container .btn-container .run {
  background-color: #3a75b0;
}
.exercise-container .btn-container .reset {
  background-color: #aa2e00;
}
.exercise-container .btn-container .btn:hover {
  opacity: 1;
}
.exercise-container .btn-container .hint {
  background-color: #fff;
  color: #131516;
}
.exercise-container .btn-container .btn {
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}
.exercise-container .hint-container {
  display: inline-block;
  z-index: 10;
  margin-top: 10rem;
  position: absolute;
  min-width: 40%;
  background-color: #3a75b0;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem rgba(19, 21, 22, 0.4784313725);
  border: 0.5rem solid #fff;
}
.exercise-container .hint-container p {
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  padding: 1rem;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .exercise-container .text-container {
    width: 100%;
  }
  .exercise-container .text-container .exercise-title {
    font-size: clamp(2rem, 4vw + 4vh, 3rem);
    text-align: center;
  }
  .exercise-container .text-container .prompt {
    font-size: clamp(1rem, 1vw + 1vh, 2rem);
    text-align: justify;
  }
  .exercise-container .editor-container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
  }
  .exercise-container .editor-container .editor {
    width: 60%;
    height: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .exercise-container .editor-container .output {
    width: 40%;
    height: 100%;
    border-left: 0.25rem solid #131516;
    border-top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .exercise-container .btn-container {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .exercise-container .btn-container .btn {
    width: 30%;
    height: 100%;
  }
  .exercise-container .btn-container .btn:hover {
    width: 31%;
  }
  .exercise-container .hint-container {
    max-width: 50%;
  }
}
.slider {
  z-index: 100;
  height: 90%;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.slider .ide-toggle {
  border-radius: 1rem 1rem 0rem 0rem;
  margin-left: 1rem;
  height: 3rem;
  width: 3rem;
  background-color: rgba(19, 21, 22, 0.4784313725);
  border: none;
  cursor: pointer;
}
.slider .ide-toggle .arrow {
  height: 3rem;
  width: 3rem;
}
.slider .ide-toggle .arrow path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
}
.slider .ide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 3rem);
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(19, 21, 22, 0.4784313725);
}
.slider .ide-container .editor-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 80%;
}
.slider .ide-container .editor-container .editor {
  width: 100%;
  height: 60%;
  border-radius: 1rem;
}
.slider .ide-container .editor-container .output {
  width: 100%;
  height: 40%;
  font-family: "Source Code Pro", monospace;
  background-color: #fff;
  border-radius: 1rem;
  background-color: #131516;
  color: #fff;
}
.slider .ide-container .editor-container .output {
  margin-top: 0.5rem;
  padding: 1rem;
}
.slider .ide-container .btn-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slider .ide-container .btn-container .btn {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  height: 100%;
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  transition: background-color 0.5s, width 0.5s;
}
.slider .ide-container .btn-container .submit {
  background-color: #3a75b0;
}
.slider .ide-container .btn-container .run {
  background-color: #3a75b0;
}
.slider .ide-container .btn-container .reset {
  background-color: #aa2e00;
}
.slider .ide-container .btn-container .btn:hover {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .slider .ide-container .editor-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .slider .ide-container .editor-container .editor {
    width: 60%;
    height: 100%;
    margin-left: 1rem;
  }
  .slider .ide-container .editor-container .output {
    margin-top: 0;
    width: 40%;
    height: 100%;
    border-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .slider .ide-container .btn-container {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .slider .ide-container .btn-container .btn {
    width: 30%;
    height: 100%;
  }
  .slider .ide-container .btn-container .btn:hover {
    background-color: #198754;
  }
}
.section-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}
.section-container .section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-container .section .head {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #3a75b0, #fff);
}
.section-container .section .head h1 {
  font-size: clamp(3rem, 5vw + 5vh, 4rem);
}
.section-container .section .body:last-child {
  margin-bottom: 0;
}
.section-container .section .body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.section-container .section .body .left {
  width: 100%;
  height: 60%;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.4784313725);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
  position: sticky;
  top: 0;
}
.section-container .section .body .left h2 {
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
  font-family: "Montserrat", sans-serif;
}
.section-container .section .body .left p {
  font-size: clamp(0.75rem, 1vw + 1vh, 1rem);
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  line-height: 2;
  color: #131516;
}
.section-container .section .body .left p b {
  text-decoration: underline;
}
.section-container .section .body .right {
  width: 100%;
  height: 40%;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}
.section-container .section .body .right div {
  margin-bottom: 1rem;
}
.section-container .section .body .right div:last-child {
  margin-bottom: 0;
}
.section-container .section .body .right .static-image {
  width: 100%;
  max-height: 80vh;
  position: relative;
  overflow: hidden;
  transform: translateZ(-1rem);
  box-shadow: 0rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  z-index: 9;
}
.section-container .section .body .right .static-image .background {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  /* Set the initial background-position property */
  background-position: 0px 0px;
  /* Add transition properties to create a smooth effect */
  background-size: 100%;
}
.section-container .section .body .right .static-image .caption {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0rem 0rem 1rem 1rem;
}
.section-container .section .body .right .image {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  transform: translateZ(-1rem);
  box-shadow: 0rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  z-index: 9;
}
.section-container .section .body .right .image .link {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateZ(-1rem);
}
.section-container .section .body .right .image .link .background {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  /* Set the initial background-position property */
  background-position: 0px 0px;
  /* Add transition properties to create a smooth effect */
  background-size: 100%;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}
.section-container .section .body .right .image .caption {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0rem 0rem 1rem 1rem;
}
.section-container .section .body .right .image:hover {
  transform: translate(0rem, -1rem);
  scale: 1.05;
  box-shadow: 0rem 1rem 1rem rgba(19, 21, 22, 0.4784313725);
}
.section-container .section .body .right .image:hover .background {
  background-size: 105%;
  background-position: 0rem -1rem;
  opacity: 1;
}
.section-container .section .body .right .img-row {
  display: flex;
  flex-direction: row;
}
.section-container .section .body .right .img-row div:first-child {
  margin-right: 1rem;
}
.section-container .section .body .right .img-row .image {
  width: 50%;
}
.section-container .section .body .right .img-group {
  display: flex;
  flex-direction: column;
}
.section-container .section .body .right .video {
  width: 100%;
  height: calc(25vh + 25vw);
}
.section-container .section .body .right .video iframe {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
}
.section-container .section .body .right .code {
  max-width: 100%;
  cursor: pointer;
}
.section-container .section .body .right .code pre {
  overflow-x: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #131516;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
}
.section-container .section .body .right .code pre code {
  font-size: clamp(0.75rem, 1vw + 1vh, 1rem);
  color: #fff;
  font-family: "Source Code Pro", monospace;
  text-shadow: 1px 1px #131516;
}
.section-container .section .body .right .note {
  padding: 1rem;
  color: #131516;
  font-weight: bold;
  background-color: #fae500;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
  font-style: italic;
}
.section-container .section .body .right .note h2 {
  text-decoration: underline;
}
.section-container .section .body .right .info {
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  background-color: #3a75b0;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
  font-style: italic;
}
.section-container .section .body .right .exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  width: 100%;
  background-color: rgba(19, 21, 22, 0.4784313725);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
}
.section-container .section .body .right .exercise .prompt {
  color: #fff;
  margin-bottom: 1rem;
}
.section-container .section .body .right .exercise .editor-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.section-container .section .body .right .exercise .editor-container .editor {
  width: 100%;
  height: 70%;
  border-radius: 1rem;
}
.section-container .section .body .right .exercise .editor-container .output {
  padding: 0.5rem;
  width: 100%;
  height: 30%;
  font-family: "Source Code Pro", monospace;
  background-color: #fff;
  border-radius: 1rem;
  background-color: #131516;
  color: #fff;
  overflow-x: auto;
  font-size: clamp(0.75rem, 1vw + 1vh, 1rem);
}
.section-container .section .body .right .exercise .btn-container {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section-container .section .body .right .exercise .btn-container .btn {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  height: 100%;
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  font-family: "Montserrat", sans-serif;
  width: 30%;
  height: 100%;
  margin-bottom: 1rem;
  transition: background-color 0.5s, width 0.5s;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.section-container .section .body .right .exercise .btn-container .submit {
  background-color: #3a75b0;
}
.section-container .section .body .right .exercise .btn-container .run {
  background-color: #3a75b0;
}
.section-container .section .body .right .exercise .btn-container .reset {
  background-color: #aa2e00;
}
.section-container .section .body .right .exercise .btn-container .btn:hover {
  width: 31%;
  opacity: 1;
}
.section-container .section .body .right .exercise .result {
  color: #fff;
}
.section-container .section .body .right .quiz {
  padding: 1rem;
  color: #131516;
  background-color: #ffab3d;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
}
.section-container .section .body .right .quiz h2 {
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
}
.section-container .section .body .right .quiz p {
  font-size: clamp(1rem, 1vw + 1vh, 2rem);
}
.section-container .section .body .right .quiz form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.section-container .section .body .right .quiz form label {
  margin-bottom: 1rem;
  font-size: clamp(0.75rem, 1vw + 1vh, 1rem);
}
.section-container .section .body .right .quiz button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  border-radius: 1rem;
  border: 0;
  height: 3rem;
  width: 30%;
  background-color: #fff;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.section-container .section .body .right .quiz button:hover {
  opacity: 1;
  width: 31%;
}
.section-container .section .body .right .quiz .explanation {
  display: none;
}
.section-container .section ul {
  background-color: #fae500;
  color: #fff;
  border-radius: 20px;
  padding: 4rem;
  font-size: clamp(0.75rem, 1vw + 1vh, 1rem);
  line-height: 3;
  font-family: "Roboto Slab", serif;
  text-align: justify;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(19, 21, 22, 0.4784313725);
}
.section-container .section a {
  background-color: #3a75b0;
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
  font-family: "Montserrat", sans-serif;
  color: #fff;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  min-width: 50%;
}
.section-container .section a:hover {
  min-width: 100%;
  background-color: #aa2e00;
}

@media only screen and (min-width: 768px) {
  .section-container .section .body {
    flex-direction: row;
  }
  .section-container .section .body .left {
    width: 40%;
    height: 90vh;
  }
  .section-container .section .body .right {
    width: 60%;
    height: 100%;
    flex-direction: column;
  }
  .section-container .section .body .right div {
    margin-bottom: 1rem;
  }
  .section-container .section .body .right .img-group {
    display: flex;
    flex-direction: column;
  }
  .section-container .section .body .right .img-group .img-row {
    display: flex;
    flex-direction: row;
  }
  .section-container .section .body .right .img-group .img-row div:first-child {
    margin-right: 1rem;
  }
  .section-container .section .body .right .img-group .img-row .image {
    width: 50%;
  }
  .section-container .section .body .right .image {
    width: 100%;
  }
  .section-container .section .body .right .image a {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
  }
  .section-container .section .body .right .image a img {
    width: 100%;
    max-height: 80vh;
  }
}
.timer-container {
  position: fixed;
  margin-top: 5rem;
  padding: 1rem;
  background-color: rgba(58, 117, 176, 0.4823529412);
  border-radius: 1rem;
}

.start-container {
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(58, 117, 176, 0.4823529412);
  border-radius: 2rem;
  padding: 1rem;
  width: 70%;
}
.start-container .content h1 {
  font-size: clamp(3rem, 5vw + 5vh, 4rem);
}
.start-container .content p {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.start-container .content button {
  border-radius: 1rem;
  border: 0;
  min-width: 20%;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
  background-color: rgba(255, 255, 255, 0.4784313725);
  transition: all 0.5s ease;
  cursor: pointer;
}
.start-container .content button:hover {
  background-color: #aa2e00;
  color: #fff;
  min-width: 100%;
}

.quiz-container {
  display: none;
  padding-top: 5rem;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.quiz-container .section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(58, 117, 176, 0.4823529412);
  border-radius: 2rem;
  padding: 2rem;
  width: 100%;
  margin-bottom: 10rem;
}
.quiz-container .section h1 {
  text-align: center;
  font-size: clamp(3rem, 5vw + 5vh, 4rem);
}
.quiz-container .section h2 {
  text-align: center;
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
}
.quiz-container .section p {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1vw + 1vh, 2rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: justify;
}
.quiz-container .section pre {
  overflow-x: auto;
  max-width: 100%;
  background-color: #131516;
  border-radius: 1rem;
  padding: 1rem;
}
.quiz-container .section pre code {
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: clamp(0.75rem, 1vw + 1vh, 1rem);
}
.quiz-container .section form {
  min-width: 40%;
  margin-top: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
}
.quiz-container .section form label {
  border-radius: 1rem;
  color: #131516;
  font-size: clamp(0.75rem, 1vw + 1vh, 1rem);
  font-family: "Source Code Pro", monospace;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.quiz-container .section form .correct {
  background-color: #198754;
}
.quiz-container .section form .incorrect {
  background-color: #aa2e00;
}
.quiz-container .section .explanation {
  display: none;
}
.quiz-container button {
  border-radius: 1rem;
  border: 0;
  min-width: 30%;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
  background-color: rgba(58, 117, 176, 0.4823529412);
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 1rem;
}
.quiz-container button:hover {
  background-color: #aa2e00;
  color: #fff;
  min-width: 100%;
}

@media only screen and (min-width: 768px) {
  .quiz-container .section {
    width: 80%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #131516;
  height: 100vh;
  overflow-x: hidden !important;
  transition: all 0.5s ease;
}

.bg {
  position: fixed;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4784313725), rgba(58, 117, 176, 0.4823529412));
}

/*# sourceMappingURL=styles.css.map */
