@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap");
/* Header start */
header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
}
header .header-row {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-row .brand-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header-row .brand-logo .material-symbols-outlined {
  font-size: 2rem;
  height: 2rem;
  color: #131516;
}
header .header-row .brand-logo h1 {
  font-size: 3rem;
}
header .header-row .brand-logo h1 strong {
  color: #aa2e00;
}
header .header-row .desktop-nav {
  display: none;
}
header .header-row .menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
}
header .header-row .menu-toggle .hamburger path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
}

.fullpage-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
.fullpage-menu .fullpage-menu-inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.fullpage-menu .fullpage-menu-inner .menu-bg {
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(#3a75b0, #fff);
  display: block;
}

nav {
  position: relative;
  z-index: 10;
  height: 70%;
}
nav ul {
  list-style-type: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav ul li {
  overflow: hidden;
  transition: text-decoration 300ms ease-in-out 0s;
  display: inline-block;
  position: relative;
  color: #e76f22;
}
nav ul li a {
  font-size: calc(1rem + 3vh + 4vw);
  color: #131516;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  line-height: 1;
}
nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e76f22;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav .secondary-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  #menuToggle {
    display: none;
  }
  .mobile-nav {
    display: none !important;
  }
  .desktop-nav {
    display: flex !important;
    flex-direction: column;
    width: 70%;
    justify-content: flex-end;
  }
  .desktop-nav ul {
    width: 100%;
    justify-content: space-around;
  }
  .secondary-nav {
    width: 100%;
  }
  .main-menu {
    flex-direction: row !important;
  }
  .main-menu a {
    font-size: 2rem !important;
    cursor: pointer;
  }
  .secondary-menu {
    flex-direction: row !important;
  }
  .secondary-menu a {
    font-size: 2rem !important;
    cursor: pointer;
  }
}
* {
  margin: 0;
  padding: 0;
}

.background {
  background-image: linear-gradient(#3a75b0, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.background .login-container {
  height: 80%;
  width: 80%;
  min-height: 600px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgb(79, 79, 79);
}
.background .login-container .left-panel {
  height: 100%;
  width: 60%;
}
.background .login-container .left-panel .background {
  background-image: linear-gradient(to right, #3a75b0, #fff);
  height: 100%;
  width: 100%;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.background .login-container .left-panel .background .main-text {
  font-size: clamp(2rem, 4vw, 4rem);
  margin-bottom: 20px;
}
.background .login-container .left-panel .background .sub-text {
  font-size: clamp(1rem, 2vw, 2rem);
}
.background .login-container .right-panel {
  background-color: #fff;
  border-left: 2px dashed rgb(80, 80, 80);
  border-radius: 0px 30px 30px 0px;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background .login-container .right-panel .login-text {
  font-size: clamp(1.25rem, 3vw, 2.5rem);
  margin-bottom: 50px;
}
.background .login-container .right-panel .login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}
.background .login-container .right-panel .login-form div {
  display: flex;
  flex-direction: column;
}
.background .login-container .right-panel .login-form div label {
  font-size: clamp(1rem, 1.5vw, 1.8rem);
}
.background .login-container .right-panel .login-form div input {
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  border: 0;
  border-bottom: 1px solid black;
}
.background .login-container .right-panel .login-form button {
  padding: 10px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background-image: linear-gradient(to left, #3a75b0, #fff);
  color: #131516;
  transition: color 0.5s;
}
.background .login-container .right-panel .login-form button:hover {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .background .login-container {
    flex-direction: column;
  }
  .background .login-container .left-panel {
    width: 100%;
    height: 30%;
  }
  .background .login-container .left-panel .background {
    background-image: linear-gradient(to bottom, #3a75b0, #fff);
    border-radius: 30px 30px 0px 0px;
    padding: 10px;
    text-align: center;
  }
  .background .login-container .left-panel .background .main-text {
    margin-bottom: 0;
  }
  .background .login-container .right-panel {
    width: 100%;
    height: 70%;
    border-left: 0;
    border-top: 2px dashed rgb(80, 80, 80);
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .background .login-container .right-panel .login-text {
    margin-bottom: 50px;
  }
  .background .login-container .right-panel .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
  }
  .background .login-container .right-panel .login-form div {
    display: flex;
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #131516;
}

/*# sourceMappingURL=styles.css.map */
