@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap");
/* Header start */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap");
.header {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5rem;
}
.header .header-bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background-image: linear-gradient(#3a75b0, #fff);
  width: 100%;
  height: 5rem;
}
.header .main-row {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 5rem;
  width: 100%;
}
.header .main-row .brand-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header .main-row .brand-logo .fa-solid {
  font-size: clamp(1rem, 3vw + 3vh, 2rem);
}
.header .main-row .brand-logo h1 {
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
  font-style: italic;
}
.header .main-row .brand-logo h1 strong {
  color: #aa2e00;
}
.header .main-row .main-nav {
  position: absolute;
  height: 80vh;
  top: 10vh;
  left: 0;
  padding: 20px;
}
.header .main-row .main-nav .main-menu {
  list-style-type: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.header .main-row .main-nav .main-menu li {
  overflow: hidden;
  transition: text-decoration 300ms ease-in-out 0s;
  display: inline-block;
  position: relative;
}
.header .main-row .main-nav .main-menu li a {
  cursor: pointer;
  font-size: clamp(3rem, 5vw + 5vh, 4rem);
  color: #131516;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: color 0.5s;
}
.header .main-row .main-nav .main-menu li a:hover {
  color: #aa2e00;
}
.header .main-row .main-nav .main-menu li .active {
  color: #aa2e00;
}
.header .main-row .main-nav .main-menu li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #aa2e00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header .main-row .main-nav .main-menu li:hover::after, .header .main-row .main-nav .main-menu .active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header .main-row .menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
}
.header .main-row .menu-toggle .hamburger {
  height: 40px;
  width: 40px;
}
.header .main-row .menu-toggle .hamburger path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
}

@media only screen and (min-width: 768px) {
  .header .main-row {
    display: flex;
    justify-content: space-between;
  }
  .header .main-row .main-nav {
    position: static;
    height: 100%;
    padding: 0;
  }
  .header .main-row .main-nav .main-menu {
    padding: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .header .main-row .main-nav .main-menu li {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .header .main-row .main-nav .main-menu li a {
    font-size: clamp(1rem, 2vw + 2vh, 2rem);
  }
  .header .main-row .menu-toggle {
    display: none;
  }
}
#renderer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-container {
  padding-top: 5rem;
  height: 400%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.home-container .section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home-container .section .content {
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4784313725);
  border-radius: 1rem;
  width: 70%;
}
.home-container .section .content h1 {
  font-size: clamp(3rem, 5vw + 5vh, 4rem);
}
.home-container .section .content p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  font-family: "Roboto Slab", serif;
}
.home-container .section .content a {
  background-color: rgba(58, 117, 176, 0.4823529412);
  border-radius: 1rem;
  padding: 1rem;
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
  text-decoration: none;
  color: #aa2e00;
  width: 50%;
}

.circle-follow {
  position: fixed;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  left: -21px;
  top: -21px;
  border-radius: 100%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}

.slide-container {
  height: 100%;
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
}
.slide-container .slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slide-container .slide video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  filter: blur(10px);
}
.slide-container .slide .content {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 20px;
  border-radius: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.slide-container .slide .content h1 {
  font-size: clamp(3rem, 5vw + 5vh, 4rem);
}
.slide-container .slide .content p {
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
}

.exercise-container {
  padding-top: 5rem;
  padding-bottom: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.exercise-container .text-container {
  width: 100%;
  height: 25%;
  padding-left: 20px;
  padding-right: 20px;
}
.exercise-container .text-container .exercise-title {
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  text-align: center;
}
.exercise-container .text-container .prompt {
  padding-top: 1rem;
  font-size: clamp(1rem, 1vw + 1vh, 2rem);
  font-family: "Roboto Slab", serif;
  text-align: justify;
}
.exercise-container .ide-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.exercise-container .ide-container .ide {
  width: 100%;
  height: 60%;
}
.exercise-container .ide-container .output {
  width: 100%;
  height: 40%;
  border: 1px solid #131516;
  font-family: "Roboto Slab", serif;
}
.exercise-container .btn-container {
  width: 50%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.exercise-container .btn-container .btn {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  width: 10rem;
  height: 100%;
  font-size: clamp(1rem, 2vw + 2vh, 2rem);
  font-family: "Montserrat", sans-serif;
}
.exercise-container .btn-container .submit {
  background-image: linear-gradient(to right, #3a75b0, #fff);
}
.exercise-container .btn-container .reset {
  background-image: linear-gradient(to left, #aa2e00, #fff);
}

@media only screen and (min-width: 768px) {
  .exercise-container {
    padding-top: 5rem;
    height: 100%;
    width: 100%;
  }
  .exercise-container .text-container {
    width: 100%;
    height: 25%;
  }
  .exercise-container .text-container .exercise-title {
    font-size: clamp(2rem, 4vw + 4vh, 3rem);
    text-align: center;
  }
  .exercise-container .text-container .prompt {
    font-size: clamp(1rem, 1vw + 1vh, 2rem);
    text-align: justify;
  }
  .exercise-container .ide-container {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .exercise-container .ide-container .ide {
    width: 60%;
    height: 100%;
  }
  .exercise-container .ide-container .output {
    width: 40%;
    height: 100%;
    border: 1px solid #131516;
  }
  .exercise-container .btn-container {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .exercise-container .btn-container .btn {
    width: 20%;
    height: 100%;
  }
}
.section-container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 10rem;
}
.section-container .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
}
.section-container .section h1 {
  font-size: clamp(2rem, 4vw + 4vh, 3rem);
}
.section-container .section p {
  background-image: linear-gradient(#3a75b0, #fff);
  border-radius: 20px;
  padding: 20px;
  font-size: clamp(1rem, 1vw + 1vh, 2rem);
  font-family: "Roboto Slab", serif;
  text-align: justify;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 2;
}
.section-container .section ul {
  background-color: #e76f22;
  color: white;
  border-radius: 20px;
  padding: 4rem;
  font-size: clamp(0.5rem, 1vw + 1vh, 1rem);
  line-height: 3;
  font-family: "Roboto Slab", serif;
  text-align: justify;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.section-container .section pre {
  padding: 20px;
  border-radius: 20px;
  background-color: #3a75b0;
}
.section-container .section pre code {
  font-size: clamp(1rem, 1vw + 1vh, 2rem);
  color: #fff;
  font-family: "Source Code Pro", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #131516;
  height: 100vh;
  overflow-x: hidden;
}

/*# sourceMappingURL=styles.css.map */
