$mainBackgroundColor:#fff;
$secondaryBackgroundColor:#c3c3c3;
$textColor: #131516;
$headerColor:#3a75b0;
$hoverColor:#e76f22;
$miscColor:#aa2e00;
$headFont: 'Montserrat', sans-serif;
$textFont: 'Roboto Slab', serif;
$headerFontSize: calc(20px + 2.5vw + 2.2vh);
$textFontSize: calc(10px + 1vw + 0.5vh);
$buttonWidthSize: calc(90px + 12vw + 3vh);
$buttonHeightSize: calc(30px + 4vw + 1vh);
$buttonFontSize: calc(4px + 1.6vw + 1.0vh);