$white:#fff;
$whiteTrans:#ffffff7a;
$gray:#c3c3c3;
$black: #131516;
$blackTrans: #1315167a;
$blue:#3a75b0;
$blueTrans:#3a75b07b;
$red:#aa2e00;
$redTrans:#fae500;
$green: #198754;
$orange: #ffab3d;
$headFont: 'Montserrat', sans-serif;
$textFont: 'Roboto Slab', serif;
$codeFont: 'Source Code Pro', monospace;
$jumboFontSize: clamp(3rem, 5vw + 5vh , 4rem);
$headerFontSize: clamp(2rem, 4vw + 4vh , 3rem);
$logoFontSize: clamp(1rem, 3vw + 3vh , 2rem);
$textFontSize: clamp(1rem, 2vw + 2vh, 2rem);
$smallTextFontSize: clamp(1rem, 1vw + 1vh, 2rem);
$smallerTextFontSize: clamp(0.75rem, 1vw + 1vh, 1rem);
$blueWhiteGradient: linear-gradient($blue, $white);
$blueWhiteGradientRight: linear-gradient(to right, $blue, $white);
$whiteBlueGradient: linear-gradient($white, $blue);
$blueWhiteTransGradient: linear-gradient($blueTrans, $whiteTrans);
$whiteBlueTransGradient: linear-gradient($whiteTrans, $blueTrans);