$white:#fff;
$gray:#c3c3c3;
$black: #131516;
$blue:#3a75b0;
$orange:#e76f22;
$red:#aa2e00;
$headFont: 'Montserrat', sans-serif;
$textFont: 'Roboto Slab', serif;
$jumboFontSize: clamp(3rem, 5vw + 5vh , 4rem);
$headerFontSize: clamp(2rem, 4vw + 4vh , 3rem);
$logoFontSize: clamp(1rem, 3vw + 3vh , 3rem);
$textFontSize: clamp(1rem, 2vh + 2vh, 2rem);
$blueWhiteGradient: linear-gradient($blue, $white);