@import "variables";
@import "mixins";

@media only screen and (min-width: 768px) {
    .circle-follow {
        position: fixed;
        border:1px solid #fff;
        width: 30px;
        height: 30px;
        left:-21px;
        top:-21px;
        border-radius: 100%;
        z-index: 1;
        user-select: none;
        pointer-events: none;
        z-index: 10000;
        //overflow: hidden;
        transform: scale(1);
        background-color: rgb(0,0,0,0.5);
        // &.active {
        //     transform: scale(3);
        // }  
    }
}