@import "variables";
@import "mixins";

@media only screen and (min-width: 768px) {
    .circle-follow {
        position: fixed;
        border:1px solid black;
        scale: 0;
        width: 30px;
        height: 30px;
        left:-21px;
        top:-21px;
        border-radius: 100%;
        z-index: 1;
        user-select: none;
        pointer-events: none;
        z-index: 10000;
        transform: scale(1);
        background-color: rgba(255, 255, 255, 0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        i {

        }
    }
}