.exercise-container {
    @include container;

    .text-container {
       @include text-container;
    }
    .editor-container {
        @include editor-container;
    }
    .btn-container {
        @include btn-container;
    }
}

@media only screen and (min-width: 768px) {
    .exercise-container {
        .text-container {
            width: 100%;

            .exercise-title {
                font-size: $headerFontSize;
                text-align: center;
            }

            .prompt {
                font-size: $smallTextFontSize;
                text-align: justify;
            }
        }
  
        .editor-container {
            width: 100%;
            height:60%;
            display: flex;
            flex-direction: row;

            .editor {
                width: 60%;
                height: 100%;
            }

            .output {
                width: 40%;
                height: 100%;
                border-left: 0.25rem solid $black;
                border-top: 0;
            }
        }
    
        .btn-container {
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .btn {
                width: 30%;
                height: 100%;
            }
        }
    }
}