.exercise-container {
    @include container;

    .text-container {
       @include text-container;
    }
    .editor-container {
        @include editor-container;
        pre {
            overflow-x:auto;
        }
    }
    .btn-container {
        @include btn-container;
        .hint {
            background-color: $white;
            color: $black;
        }
        .btn {
            transition: all 0.2s ease-in-out;
            opacity: .8;
        }
    }
    .hint-container {
        display: inline-block;
        z-index: 10;
        margin-top: 10rem;
        position:absolute;
        min-width: 40%;
        background-color: $blue;
        border-radius: 1rem;
        box-shadow: 1rem 1rem 1rem $blackTrans;
        border: 0;
        p {
            font-size: $textFontSize;
            font-family: $headFont;
            text-align: justify;
            padding: 1rem;
            color: $white;
        }
    }
}

@media only screen and (min-width: 768px) {
    .exercise-container {
        .text-container {
            width: 100%;

            .exercise-title {
                font-size: $headerFontSize;
                text-align: center;
            }

            .prompt {
                font-size: $smallTextFontSize;
                text-align: justify;
            }
        }
  
        .editor-container {
            width: 100%;
            height:60%;
            display: flex;
            flex-direction: row;

            .editor {
                width: 60%;
                height: 100%;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }

            .output {
                width: 40%;
                height: 100%;
                border-left: 0.25rem solid $black;
                border-top: 0;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }
    
        .btn-container {
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .btn {
                width: 30%;
                height: 100%;
            }
            .btn:hover {
                width: 31%;
            }
        }

        .hint-container {
            max-width: 50%;
        }
    }
}