@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap');
@import "variables";
@import "mixins";

#renderer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-container {
    padding-top: 5rem;
    height: 400%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    .section {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .content {
            padding: 3rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $whiteTrans;
            border-radius: 1rem;
            width: 90%;
            h1 {
                font-size: $jumboFontSize;
            }
            p {
                padding-top:2rem;
                padding-bottom:2rem;
                font-size: $textFontSize;
                font-family: $textFont;
            }
            a {
                background-color: #3a75b07b;
                border-radius: 1rem;
                padding: 1rem;
                font-size: $headerFontSize;
                text-decoration: none;
                color: $red;
            }
        }
    }
}