.slide-container {
    height: 100%;
    width: 300%;
    display: flex;
    flex-wrap: nowrap;
    .slide {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        .content {
            display: flex;
            flex-direction: column;
            width: 50%;
            h1 {
                font-size: $jumboFontSize;
            }
            p {
                font-size: $textFontSize;
            }
        }
    }
}
