@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap');
@import "variables";
@import "mixins";

/* Header start */

header{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;

  .header-row{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand-logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      .material-symbols-outlined {
        height: 24px;
      }

      h1 {
        font-weight:normal;
        font-size: 2rem;
      }
    }

    .desktop-nav {
      display: none;
    }
  
    .menu-toggle{
      background: transparent;
      border: none;
      cursor: pointer;
      height: 40px;
    
      .hamburger path{
        fill: none;
        stroke: $white;
        stroke-linecap: round;
      }
    }
  }
}

.fullpage-menu{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;

  .fullpage-menu-inner{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px;

    .menu-bg{
      height: 80px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-image: $backgroundGradient;
      display: block;
    }

    
  }
}

nav {
  position: relative;
  z-index: 10;
  height: 70%;
  
  ul{
    list-style-type: none;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li{
      overflow: hidden;
      transition: text-decoration 300ms ease-in-out 0s;
      display: inline-block;
      position: relative;
      color: $orange;

      a{
        font-size: calc(1rem + 3vh + 4vw);
        color: $white;
        text-decoration: none;
        font-weight: normal;
        display: inline-block;
        line-height: 1;
      }
    }
    
    li::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $orange;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    li:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  .secondary-menu {
    display: none;
  }
}

@media only screen and (min-width:768px) {
  #menuToggle {
    display: none;
  }

  .mobile-nav {
    display: none !important;
  }
  .desktop-nav {
    display: flex !important;
    flex-direction: column;
    width: 70%;
    justify-content: flex-end;
    ul {
      width: 100%;
      justify-content: space-around;
    }
  }

  .secondary-nav {
    width: 100%; 
  }

  .main-menu {
    flex-direction: row !important;
    a {
      font-size: 2rem !important;
      cursor: pointer;
    }
  }
  .secondary-menu {
    flex-direction: row !important;
    a {
      font-size: 2rem !important;
      cursor: pointer;
    }
  }
}