@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap');
@import "variables";
@import "mixins";

.navbar-brand {
    .material-symbols-outlined {
      line-height: 1.2;
      font-size: $headerFontSize;
      color: $black;
    }
    
    #brandText {
      padding: 0;
      margin: 0;
      font-size: $headerFontSize;
      color: $black;
      overflow-y: hidden;
    }
  }
  
  .navbar-toggler {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px outset $black;
    z-index: 1;
  
    .navbar-toggler-icon {
      overflow-y: hidden;
      background-image: none;
      width: 40px;
      height: 32px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    
      .bar {
        display: block;
        position: absolute;
        height: 4px;
        width: 50%;
        background: $black;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
    
      #bar2, #bar4, #bar6 {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }
      
      #bar1, #bar3, #bar5 {
        left:0px;
        border-radius: 9px 0 0 9px;
      }
      
      #bar1, #bar2 {
        top: 7px;
      }
      
      #bar3, #bar4 {
        top: 14px;
      }
      
      #bar5, #bar6 {
        top: 21px;
      }
    }
  
    .navOpen {
      #bar1, #bar6 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
  
      #bar2, #bar5 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      #bar1 {
        left: 3px;
        top: 7px;
      }
      
      #bar2 {
        left: calc(50% - 3px);
        top: 7px;
      }
      
      #bar3 {
        left: -50%;
        opacity: 0;
      }
      
      #bar4 {
        left: 100%;
        opacity: 0;
      }
      
      #bar5 {
        left: 3px;
        top: 21px;
      }
      
      #bar6 {
        left: calc(50% - 3px);
        top: 21px;
      }
    }
  }
  
  .secondaryCollapse {
    position: fixed;
    top: calc(1rem + 12vh);
    right: 0;
    ul {
      height: 80vh !important;
      li {
        overflow-y: hidden;
        a {
          padding: 0;
        }
      }
    }
  }
  
    
  //Header
  header {
    position: fixed;
    font-family: $headFont;
    z-index: 1;
  }
  
  #navbarNav {
    ul {
      height: 100vh;
      li {
        font-weight: bold;
        font-size: $headerFontSize;
      }
    }
  }