.timer-container {
    position: fixed;
    margin-top: 5rem;
    padding: 1rem;
    background-color: $blueTrans;
    border-radius: 1rem;
}
.start-container {
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $blueTrans;
        border-radius: 2rem;
        padding: 1rem;
        width: 70%;
        h1 {
            font-size: $jumboFontSize;
        }
        p {
            font-family: $textFont;
            font-size: $textFontSize;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: center;
        }
        button {
            border-radius: 1rem;
            border: 0;
            width: 20%;
            font-family: $headFont;
            font-size: $headerFontSize;
            background-color: $whiteTrans;
            transition: background-color 0.5s, color 0.5s, width 0.5s;
            cursor: pointer;
        }
        button:hover {
            background-color: $red;
            color: $white;
            width: 100%;
        }
    }
}

.quiz-container {
    display: none;
    padding-top: 5rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: $blueTrans;
        border-radius: 2rem;
        padding: 2rem;
        width: 70%;
        margin-bottom: 10rem;
        h1 {
            font-size: $jumboFontSize;
        }
        h2 {
            font-size: $headerFontSize;
        }
        p {
            font-family: $textFont;
            font-size: $smallTextFontSize;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: justify;
        }
        pre {
            background-color: $black;
            border-radius: 1rem;
            padding: 1rem;
            code {
                color: $white;
                font-family: $codeFont;
                font-size: $smallerTextFontSize;
            }
        }
        
        form {
            margin-top: 1rem;
            background-color: $white;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            padding: 1rem;
            label {
                border-radius: 1rem;
                color: $black;
                font-size: $smallerTextFontSize;
                font-family: $codeFont;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            .correct {
                background-color: $green;
            }
            .incorrect {
                background-color: $red;
            }
        }

        .explanation {
            display: none;
        }
    }

    button {
        border-radius: 1rem;
        border: 0;
        width: 30%;
        font-family: $headFont;
        font-size: $headerFontSize;
        background-color: $blueTrans;
        transition: background-color 0.5s, color 0.5s, width 0.5s;
        cursor: pointer;
        padding: 1rem;
    }
    button:hover {
        background-color: $red;
        color: $white;
        width: 100%;
    }
}